* {
  box-sizing: border-box;
}

button {
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: black;
  color: white;
}

.circle {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  color: black;
}
